body {
  background-color: lightblue;
}

h2 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form.search {
  float: left;
  padding-right: 100px;
}

button {
  border-radius: 5px;
  background-color: purple;
  color: white;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.recipe {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

[hidden] {
  display:none;
}